Nexairi_Home_Critique_agent.json
{
    "name": "Nexairi Page Critique & Rewrite",
    "nodes": [
      {
        "parameters": {},
        "id": "Manual Trigger",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [250, 300]
      },
      {
        "parameters": {
          "fields": {
            "string": [
              { "name": "pageName", "value": "Home" }
            ],
            "number": [
              { "name": "pageId", "value": 32 }
            ],
            "boolean": [
              { "name": "applyChanges", "value": true }
            ]
          }
        },
        "id": "Settings",
        "name": "Settings",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [450, 300]
      },
      {
        "parameters": {
          "authentication": "basicAuth",
          "requestMethod": "GET",
          "url": "https://www.nexairi.com/wp-json/wp/v2/pages={{$json[\"pageId\"]}}",
          "jsonParameters": true
        },
        "id": "Get Page",
        "name": "Get Page",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [670, 300],
        "credentials": {
          "httpBasicAuth": {
            "id": "Code-Bot"
          }
        }
      },
      {
        "parameters": {
          "model": "gemini-pro",
          "temperature": 0.2,
          "messages": [
            {
              "text": "You are the Nexairi Design Critic. Analyze the provided HTML and return JSON with fields: issues
  (array), cssAdjustments (array), callouts (array). Focus on how well it reflects Nexairi as an AI automation brand, using CSS
  classes .nx-hero, .nx-section, .nx-grid, .nx-cta, .nx-ad."
            },
            {
              "role": "user",
              "text": "Page HTML:\n{{$json[\"content\"][\"rendered\"]}}"
            }
          ]
        },
        "id": "Design Critic",
        "name": "Design Critic",
        "type": "n8n-nodes-base.googleGemini",
        "typeVersion": 1,
        "position": [900, 300],
        "credentials": {
          "googleGeminiApi": {
            "id": "Gemini Credential Placeholder"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{$json[\"applyChanges\"]}}",
                "value2": true
              }
            ]
          }
        },
        "id": "Apply Changes?",
        "name": "Apply Changes?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [1130, 300]
      },
      {
        "parameters": {
          "functionCode": "return [{ json: {\n  pageId: $json.pageId,\n  pageName: $json.pageName,\n  originalHtml:
  items[0].json.content.rendered,\n  critique: $json[\"Design Critic\"].data[0].text\n}}];"
        },
        "id": "Merge Original + Critique",
        "name": "Merge Original + Critique",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [1360, 150]
      },
      {
        "parameters": {
          "model": "gemini-pro",
          "temperature": 0.3,
          "messages": [
            {
              "text": "You are the Nexairi Page Rewriter. Using the critique JSON and original HTML, rewrite the page so the
  hero, sections, CTAs, and ads use CSS classes .nx-hero, .nx-section, .nx-grid, .nx-cta, .nx-ad. Output ONLY valid HTML."
            },
            {
              "role": "user",
              "text": "Original HTML:\n{{$json[\"originalHtml\"]}}\nCritique JSON:\n{{$json[\"critique\"]}}"
            }
          ]
        },
        "id": "Page Rewriter",
        "name": "Page Rewriter",
        "type": "n8n-nodes-base.googleGemini",
        "typeVersion": 1,
        "position": [1580, 150],
        "credentials": {
          "googleGeminiApi": {
            "id": "Gemini Credential Placeholder"
          }
        }
      },
      {
        "parameters": {
          "authentication": "basicAuth",
          "requestMethod": "PUT",
          "url": "https://www.nexairi.com/wp-json/wp/v2/pages={{$json[\"pageId\"]}}",
          "jsonParameters": true,
          "options": {},
          "bodyParametersJson": "={\"content\": \"{{$json[\"Page Rewriter\"].data[0].text}}\"}"
        },
        "id": "Update Page",
        "name": "Update Page",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [1795, 150],
        "credentials": {
          "httpBasicAuth": {
            "id": "Code-Bot"
          }
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Settings": {
        "main": [
          [
            {
              "node": "Get Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Page": {
        "main": [
          [
            {
              "node": "Design Critic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Design Critic": {
        "main": [
          [
            {
              "node": "Apply Changes?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Changes?": {
        "main": [
          [
            {
              "node": "Merge Original + Critique",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Original + Critique": {
        "main": [
          [
            {
              "node": "Page Rewriter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Page Rewriter": {
        "main": [
          [
            {
              "node": "Update Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {},
    "id": "NexairiPageCritiqueRewrite"
  }
